@import "../../variables";

.signInContainer {
  padding: 150px 20px 40px 20px !important;
  min-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  min-height: 100vh;
  background-color: map-get($theme-colors, "blue");
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .signInForm {
    margin: 56px auto 0 auto;
    min-width: 335px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    @media all and (max-width: 60em) {
      width: 80%;
    }
    @media all and (max-width: 40em) {
      width: 100%;
    }
    .signInEmailField,
    .signInPasswordField {
      .MuiFormLabel-root.Mui-focused,
      .MuiFormLabel-root.MuiFormLabel-filled {
        display: none;
      }
      .MuiInputBase-root.MuiInputBase-formControl.Mui-error {
        border: solid 2px map-get($theme-colors, "red");
        fieldset {
          border: none;
        }
      }
      .MuiInputBase-root.MuiInputBase-formControl.Mui-focused {
        border: solid 2px map-get($theme-colors, "blue");
        fieldset {
          border: none;
        }
      }
    }
    .forgotPasswordLink {
      color: map-get($theme-colors, "white");
      text-decoration: none;
      margin-top: -15px;
      margin-right: 15px;
      @extend %caption-bold;
      line-height: 15px;
    }
    .submitLoginForm {
      @extend %button-white;
      @extend %button;
      text-transform: none;
      width: 100%;
      height: 50px;
      margin-top: 40px;
    }
  }
  .signInTitle {
    @extend %body-2;
    margin: 30px 0 12px 0;
    color: map-get($theme-colors, "white");
  }
  .containerButtonsSignIn {
    width: 115px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .buttonSignInWith {
    min-width: 50px;
    width: 50px;
    height: 50px;
    background-color: map-get($theme-colors, "white");
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    img {
      max-width: 23px;
      max-height: 23px;
    }
    &:hover,
    :active {
      background-color: map-get($theme-colors, "white");
    }
  }
  .registrationButtonBox {
    margin: 130px 0 0 0;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .titleRegistration {
      margin: 0 10px 0 0;
      @extend %body-1;
      color: map-get($theme-colors, "white");
    }
    .linkRegistration {
      text-decoration: none;
      @extend %body-1-bold;
      color: map-get($theme-colors, "white");
    }
  }
}
