@import "../../variables";

.profileSettingsContainer {
  padding: 11px 20px 30px 20px !important;
  .linksSettings {
    display: flex;
    flex-direction: column;
    .itemLink {
      margin-bottom: 21px;
      background-color: map-get($theme-colors, "light-blue-2");
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 20px;
      border-radius: 20px;
      @extend %body-1-medium;
      color: map-get($theme-colors, "black");
      svg {
        margin-right: 10px;
      }
    }
  }
}
