@import "../../variables";

.profileSettingsContainer {
  padding: 11px 20px 30px 20px !important;
  .navigationProfileSettings {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 23px 0;
    button {
      padding: 0;
      min-width: auto;
      height: 30px;
      svg {
        fill: map-get($theme-colors, "black");
      }
    }
    p {
      margin: 0;
      width: 100%;
      text-align: center;
      @extend %h3;
    }
  }
  .linksSettings {
    display: flex;
    flex-direction: column;
    .itemLink {
      margin-bottom: 21px;
      background-color: map-get($theme-colors, "light-blue-2");
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 20px;
      border-radius: 20px;
      @extend %body-1-medium;
      color: map-get($theme-colors, "black");
      svg {
        margin-right: 10px;
      }
    }
  }
}
