@import "../../variables";

.adminRecoveryPasswordContainer {
  width: calc(100% - 380px);
  border-radius: 20px;
  background-color: map-get($theme-colors, "white");
  padding: 23px 20px 43px 20px;
  min-height: 530px;
  .navigatePasswordButton {
    text-transform: none;
    color: map-get($theme-colors, "black");
    @extend %body-1-bold;
    padding: 0;
    margin-bottom: 24px;
    svg {
      fill: map-get($theme-colors, "black");
      margin-right: 14px;
    }
  }
  .controlledAdminBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .adminFormLabel {
      @extend %body-2;
      color: map-get($theme-colors, "gray-2");
      margin-bottom: 2px;
      padding-left: 15px;
    }
    .adminFormLabel.errorLabel {
      color: map-get($theme-colors, "error");
      @extend %body-2-medium;
    }
    .errorMessage {
      @extend %messages;
      margin-bottom: 10px;
      color: map-get($theme-colors, "error");
      padding-left: 15px;
    }
    .adminField {
      height: 34px;
      width: 100%;
      .MuiInputBase-root.MuiInputBase-formControl {
        height: 34px;
        border-radius: 15px;
        @extend %body-2-medium;
        display: flex;
        align-items: center;
        background-color: map-get($theme-colors, "white");
      }
      input,
      .MuiInputBase-input {
        height: 30px;
        padding: 0 15px;
        color: map-get($theme-colors, "black");
        width: 100%;
        @extend %body-2-medium;
      }
      fieldset {
        border: solid 1px map-get($theme-colors, "gray-2");
      }
      .MuiInputBase-root.MuiInputBase-formControl.Mui-error {
        border: none;
        background-color: map-get($theme-colors, "white");
        fieldset {
          border: solid 2px map-get($theme-colors, "error");
        }
      }
      .MuiInputBase-root.MuiInputBase-formControl.Mui-focused {
        border: none;
        background-color: map-get($theme-colors, "white");
        fieldset {
          border: solid 2px map-get($theme-colors, "blue");
        }
      }
    }
  }
  .adminEmailForm {
    max-width: 335px;
    margin: 0 0 0 40px;
    p {
      @extend %body-2;
      margin: 0 0 20px 0;
    }
    .submitAdminEmailButton {
      @extend %button;
      @extend %button-blue;
      text-transform: none;
      width: 100%;
      height: 34px;
    }
  }
}
