@import "../../variables";

.navigationButtonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 23px 0;
  button {
    padding: 0;
    min-width: auto;
    height: 30px;
    svg {
      fill: map-get($theme-colors, "black");
    }
  }
  p {
    margin: 0;
    width: 100%;
    text-align: center;
    @extend %h3;
  }
}
