@import "../../variables";

.adminPaymentsContainer {
  padding: 35px 20px 60px 20px !important;
  display: flex !important;
  flex-direction: row;
  width: 100% !important;
  max-width: 100vw !important;
  .adminPaymentsContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100vw - 216px);
    .searchPaymentBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      p {
        margin: 0;
        @extend %h4;
        line-height: 20px;
        @media all and (max-width: 55em) {
          margin-bottom: 20px;
        }
      }
      .searchField {
        @media all and (max-width: 55em) {
          min-width: 100%;
          width: 100%;
        }
        .MuiInputBase-root {
          height: 40px;
          border-radius: 40px;
          background-color: map-get($theme-colors, "white");
          min-width: 400px;
          @media all and (max-width: 55em) {
            min-width: 100%;
            width: 100%;
          }
          fieldset {
            border-color: map-get($theme-colors, "white");
          }
          .MuiInputAdornment-root {
            svg {
              fill: map-get($theme-colors, "blue");
            }
          }
        }
        .MuiInputBase-root.Mui-focused {
          fieldset {
            border-color: map-get($theme-colors, "blue");
          }
        }
      }
    }
    .buttonsPaymentsBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 25px;
      .buttonType {
        text-transform: none;
        @extend %body-1-medium;
        color: map-get($theme-colors, "white");
        background-color: map-get($theme-colors, "gray-2");
        border-radius: 15px;
        padding: 5px 20px;
        height: 34px;
        margin-right: 20px;
      }
      .buttonType:last-child {
        margin-right: 0;
      }
      .buttonType.activeButton {
        background-color: map-get($theme-colors, "blue");
      }
    }
    .paymentsTable {
      .paymentsTableHead {
        tr {
          th {
            border: none;
            color: map-get($theme-colors, "gray-2");
            padding-bottom: 15px;
            padding-top: 0;
            @extend %body-2;
          }
          @media all and (max-width: 40em) {
            display: none;
          }
        }
      }
      .emptyRowUsers {
        td {
          border: none;
          border-radius: 20px;
          background-color: map-get($theme-colors, "white");
          padding: 25px;
          height: 90px;
          p {
            margin: 0;
            @extend %h5;
            text-align: center;
          }
        }
      }
    }
  }
}
