@import "../../variables";

.emptyActiveEvents {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %h5;
}

.itemEventBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 110px;
  margin-bottom: 15px;
  max-width: 500px;
  .eventPhoto,
  .emptyEventPhoto {
    width: 110px;
    height: 110px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .emptyEventPhoto {
    background-color: map-get($theme-colors, "black");
    opacity: 0.2;
  }
  .itemEventInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
    .eventCategoryName {
      .controlsEventBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          margin: 0;
          @extend %body-2-bold;
        }
        button {
          padding: 0;
          height: 20px;
          width: 20px;
          min-width: 20px;
          margin-left: 5px;
        }
      }
      .eventName {
        @extend %h4;
        margin-top: 3px;
      }
    }
    .itemEventPlaceDate {
      p {
        margin: 0;
        @extend %caption;
      }
    }
  }
}

.archiveEventsBox {
  .itemArchiveEventBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 110px;
    margin-bottom: 15px;
    max-width: 500px;
    .eventPhotoArchive,
    .emptyEventPhotoArchive {
      width: 110px;
      height: 110px;
      border-radius: 5px;
      margin-right: 10px;
    }
    .emptyEventPhotoArchive {
      background-color: map-get($theme-colors, "black");
      opacity: 0.2;
    }
    .itemArchiveEventInformation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 110px;
      .eventArchiveCategoryName {
        .controlsEventArchiveBox {
          display: flex;
          flex-direction: row;
          align-items: center;
          p {
            margin: 0;
            @extend %body-2-bold;
          }
          .publishEventButton {
            padding: 0;
            text-transform: none;
            @extend %button;
            color: map-get($theme-colors, "blue");
            margin-left: 10px;
            border-bottom: solid 1px map-get($theme-colors, "blue");
            border-radius: 0;
          }
        }
        .eventName {
          @extend %h4;
          margin-top: 3px;
        }
      }
      .itemArchiveEventPlaceDate {
        p {
          margin: 0;
          @extend %caption;
        }
      }
    }
  }
  .archivePaginationEvents {
    margin: 10px 0 0 0;
    .MuiButtonBase-root.Mui-selected {
      background-color: map-get($theme-colors, "light-blue-2");
    }
  }
}

.eventChangeBox {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  .eventPhotoBox {
    margin-bottom: 15px;
    .labelEventPhoto {
      @extend %body-2;
      color: map-get($theme-colors, "gray-2");
      margin: 0 0 5px 0;
    }
    .eventPhotoControlsBox {
      display: flex;
      flex-direction: row;
      img,
      .uploadEventPhotoLabel {
        width: 120px;
        height: 120px;
        border-radius: 10px;
      }
      .uploadEventPhotoLabel {
        border: solid 1px map-get($theme-colors, "gray-2");
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @extend %body-2;
        color: map-get($theme-colors, "blue");
        &:hover {
          cursor: pointer;
        }
      }
      .controlsEventButtonsBox {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .deletePhotoEventButton {
          width: 150px;
          text-transform: none;
          @extend %button;
          height: 34px;
          color: map-get($theme-colors, "blue");
        }
        .uploadPhotoEventButton {
          @extend %button;
          @extend %button-blue;
          height: 34px;
          width: 150px;
          color: map-get($theme-colors, "white");
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .labelEvent {
    @extend %body-2;
    color: map-get($theme-colors, "gray-2");
    margin: 0 0 2px 0;
  }
  .errorLabelEvent {
    @extend %body-2-bold;
    color: map-get($theme-colors, "error");
  }
  .errorMessage {
    @extend %messages;
    margin: 0 0 15px 0;
    color: map-get($theme-colors, "error");
    padding-left: 15px;
  }
  .controlsEventBox {
    display: flex;
    flex-direction: column;
    .labelEvent {
      padding-left: 10px;
    }
    .controlledFieldBox {
      margin-bottom: 0;
    }
    .eventField,
    .eventField.filledInEventField {
      height: 34px;
      .MuiSelect-select.MuiInputBase-input {
        padding: 10px 15px 0 15px;
      }
      .MuiInputBase-root.MuiInputBase-formControl {
        height: 34px;
        border-radius: 15px;
        @extend %body-2-medium;
        display: flex;
        align-items: center;
        background-color: map-get($theme-colors, "white");
        fieldset {
          border: solid 2px map-get($theme-colors, "gray-2");
        }
      }
      input,
      .MuiInputBase-input {
        height: 30px;
        padding: 0 15px;
        color: map-get($theme-colors, "black");
        width: 100%;
        @extend %body-2-medium;
      }
      .MuiInputAdornment-root {
        .MuiSvgIcon-root {
          fill: map-get($theme-colors, "error");
        }
      }
      .MuiInputBase-root.MuiInputBase-formControl.Mui-error {
        border: none;
        background-color: map-get($theme-colors, "white");
        fieldset {
          border: solid 2px map-get($theme-colors, "error");
        }
      }
      .MuiInputBase-root.MuiInputBase-formControl.Mui-focused {
        border: none;
        background-color: map-get($theme-colors, "white");
        .MuiSelect-select {
          background-color: map-get($theme-colors, "white");
        }
        fieldset {
          border: solid 2px map-get($theme-colors, "blue");
        }
      }
    }
    .eventField.filledInEventField {
      .MuiInputBase-root.MuiInputBase-formControl {
        background-color: map-get($theme-colors, "light-blue-2");
        fieldset {
          border: solid 2px map-get($theme-colors, "light-blue-2");
        }
      }
    }
  }
  .submitEventButton {
    text-transform: none;
    @extend %button;
    @extend %button-blue;
    width: 100%;
    height: 34px;
    margin: 50px 0 60px 0;
  }
}
