@import "../../variables";

.emptyDataBox {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %h5;
}

.activeArticleContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 721px;
  .activeArticlePhotoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    img,
    .emptyPhotoArticles {
      width: 121px;
      height: 121px;
      border-radius: 5px;
      margin-right: 10px;
    }
    .emptyPhotoArticles {
      background-color: map-get($theme-colors, "black");
      opacity: 0.2;
    }
    .activeArticlesButtons {
      display: flex;
      flex-direction: column;
      button,
      .uploadButton {
        height: 34px;
        text-transform: none;
        @extend %button;
        color: map-get($theme-colors, "blue");
        width: 200px;
      }
      .uploadButton {
        @extend %button-blue;
        color: map-get($theme-colors, "white");
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .activeArticleTitleBox {
    margin: 15px 0 2px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    p {
      margin: 0 10px 0 0;
      @extend %body-1-bold;
    }
    button {
      text-transform: none;
      @extend %button;
      padding: 0;
      color: map-get($theme-colors, "blue");
      svg {
        margin-right: 10px;
      }
    }
  }
  .activeArticleText {
    @extend %body-2;
    white-space: pre-line;
  }
  .deleteArticleButton {
    margin: 15px 0 20px 0;
    text-transform: none;
    height: 24px;
    padding: 0;
    @extend %button;
    color: map-get($theme-colors, "red");
    svg {
      margin-right: 10px;
    }
  }
}

.archiveArticlesBox {
  max-width: 850px;
  .itemArchiveArticle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    &:hover {
      cursor: pointer;
    }
    img,
    .emptyPhotoArchiveArticle {
      width: 121px;
      height: 121px;
      border-radius: 5px;
      margin-right: 10px;
    }
    .emptyPhotoArchiveArticle {
      background-color: map-get($theme-colors, "black");
      opacity: 0.2;
    }
    .articleInformationBox {
      display: flex;
      flex-direction: column;
      width: calc(100% - 131px);
      p {
        margin: 0 0 2px 0;
        @extend %body-1-bold;
      }
      .articleArchiveText {
        @extend %body-2;
      }
    }
  }
  .archivePagination {
    margin: 10px 0 0 0;
    .MuiButtonBase-root.Mui-selected {
      background-color: map-get($theme-colors, "light-blue-2");
    }
  }
}
