@import "./variables";

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: map-deep-get($theme-colors, "background", "gray-1");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.notificationToast {
  width: 450px;
  .toastBody {
    width: 100%;
    min-height: 48px;
    box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
    border-radius: 0;
    position: relative;
    padding: 5px 10px;
    .Toastify__progress-bar--wrp {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 6px;
      height: 110%;
      border-radius: 0;
    }
    > div {
      @extend %body-2;
    }
    .toastProgress {
      height: 100%;
      width: 6px;
      transform: none !important;
      opacity: 1 !important;
    }
  }
}
