@import "../../variables";

.publicationsLinksBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  .nav-link,
  .new-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    @extend %body-1-medium;
    margin-right: 15px;
    height: 24px;
    min-width: 24px;
    color: map-get($theme-colors, "gray-2");
    padding: 0 0 5px 0;
    svg {
      margin-right: 8px;
    }
  }
  .new-link {
    margin-right: 30px;
    svg {
      margin-right: 0;
    }
  }
  .new-link:last-child {
    margin-right: 0;
  }
  .activeLink,
  .activeNewLink {
    color: map-get($theme-colors, "blue");
  }
  .activeLink {
    border-bottom: solid 2px map-get($theme-colors, "blue");
  }
}
