@import "../../variables";

.adminPrivacyBox {
  width: calc(100% - 380px);
  border-radius: 20px;
  background-color: map-get($theme-colors, "white");
  padding: 23px 20px 23px 20px;
  @media all and (max-width: 58em) {
    width: auto;
  }
  .itemPrivacy {
    margin: 0 0 10px 0;
    @extend %body-2;
  }
  .titlePrivacy {
    @extend %body-1-bold;
    margin: 0 0 20px 0;
  }
}
